<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <servlet>
        <servlet-name>User_Registration</servlet-name>
        <servlet-class>User_Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Login</servlet-name>
        <servlet-class>User_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_ApplyFPassport_Servlet</servlet-name>
        <servlet-class>User_ApplyFPassport_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicantDetails</servlet-name>
        <servlet-class>ApplicantDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FamilyDetails</servlet-name>
        <servlet-class>FamilyDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressDeatils</servlet-name>
        <servlet-class>AddressDeatils</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmergencyContact</servlet-name>
        <servlet-class>EmergencyContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreviousPassport</servlet-name>
        <servlet-class>PreviousPassport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtherDetails</servlet-name>
        <servlet-class>OtherDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsVerification</servlet-name>
        <servlet-class>DetailsVerification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Success</servlet-name>
        <servlet-class>User_Success</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User_Login2</servlet-name>
        <servlet-class>User_Login2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View_Status</servlet-name>
        <servlet-class>View_Status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Officer_Registration</servlet-name>
        <servlet-class>Officer_Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Officer_Login</servlet-name>
        <servlet-class>Officer_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Officer_View_App</servlet-name>
        <servlet-class>Officer_View_App</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Officer_Approve_reject</servlet-name>
        <servlet-class>Officer_Approve_reject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_Login</servlet-name>
        <servlet-class>Admin_Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User_Registration</servlet-name>
        <url-pattern>/User_Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Login</servlet-name>
        <url-pattern>/User_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_ApplyFPassport_Servlet</servlet-name>
        <url-pattern>/User_ApplyFPassport_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicantDetails</servlet-name>
        <url-pattern>/ApplicantDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FamilyDetails</servlet-name>
        <url-pattern>/FamilyDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddressDeatils</servlet-name>
        <url-pattern>/AddressDeatils</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmergencyContact</servlet-name>
        <url-pattern>/EmergencyContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviousPassport</servlet-name>
        <url-pattern>/PreviousPassport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtherDetails</servlet-name>
        <url-pattern>/OtherDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsVerification</servlet-name>
        <url-pattern>/DetailsVerification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Success</servlet-name>
        <url-pattern>/User_Success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User_Login2</servlet-name>
        <url-pattern>/User_Login2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View_Status</servlet-name>
        <url-pattern>/View_Status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Officer_Registration</servlet-name>
        <url-pattern>/Officer_Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Officer_Login</servlet-name>
        <url-pattern>/Officer_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Officer_View_App</servlet-name>
        <url-pattern>/Officer_View_App</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Officer_Approve_reject</servlet-name>
        <url-pattern>/Officer_Approve_reject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_Login</servlet-name>
        <url-pattern>/Admin_Login</url-pattern>
    </servlet-mapping>
</web-app>
